@import "tailwindcss";

html{
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body{
    background-color: #050816;
    color: white;
    font-family: "Inter", sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Space Grotesk", sans-serif;
}
body {
  background-image: url("./assets/bg3.png");
  background-size: cover;
  background-position: center;
  /* background-repeat: repeat-y; or no-repeat */
  background-attachment: fixed; 
  background-color: #050816;
}

